In [1]:
import pandas as pd

### Load the extension

In [2]:
%load_ext nl2pandas.magic.magic

ModuleNotFoundError: No module named 'nl2pandas'

### Import the dataset

In [7]:
# %nl2pandas load data from 'flights_tickets_serp2018-12-16.csv'
df = pd.read_csv(filepath_or_buffer='flights_tickets_serp2018-12-16.csv')

### Explore DataFrame layout

In [23]:
# %nl2pandas show information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   searchTerms            4000 non-null   object
 1   rank                   4000 non-null   int64
 2   title                  4000 non-null   object
 3   snippet                4000 non-null   object
 4   displayLink            4000 non-null   object
 5   link                   4000 non-null   object
 6   queryTime              4000 non-null   object
 7   totalResults           4000 non-null   int64
 8   cacheId                3975 non-null   object
 9   formattedUrl           4000 non-null   object
 10  htmlFormattedUrl       4000 non-null   object
 11  htmlSnippet            4000 non-null   object
 12  htmlTitle              4000 non-null   object
 13  kind                   4000 non-null   object
 14  pagemap                3996 non-null   object
 15  cseName                4000 non-null   object
 16  count                  4000 non-null   int64
 17  startIndex             4000 non-null   int64
 18  inputEncoding          4000 non-null   object
 19  outputEncoding         4000 non-null   object
 20  safe                   4000 non-null   object
 21  cx                     4000 non-null   object
 22  gl                     4000 non-null   object
 23  searchTime             4000 non-null   float64
 24  formattedSearchTime    4000 non-null   float64
 25  formattedTotalResults  4000 non-null   object
dtypes: float64(2), int64(4), object(20)
memory usage: 812.6+ KB

In [24]:
# %nl2pandas show statistic summary
df.describe()

,rank,totalResults,count,startIndex,searchTime,formattedSearchTime
count,4000.00000,4.000000e+03,4000.0,4000.0,4000.000000,4000.000000
mean,5.50000,5.538642e+07,10.0,1.0,0.321426,0.321350
std,2.87264,8.004667e+07,0.0,0.0,0.061791,0.062045
min,1.00000,9.940000e+04,10.0,1.0,0.162895,0.160000
25%,3.00000,9.217500e+06,10.0,1.0,0.278504,0.280000
50%,5.50000,2.300000e+07,10.0,1.0,0.314640,0.310000
75%,8.00000,7.097500e+07,10.0,1.0,0.354942,0.352500
max,10.00000,5.420000e+08,10.0,1.0,0.533649,0.530000

In [25]:
# %nl2pandas show the first rows
df.head()

,searchTerms,rank,title,snippet,displayLink,link,queryTime,totalResults,cacheId,formattedUrl,...,count,startIndex,inputEncoding,outputEncoding,safe,cx,gl,searchTime,formattedSearchTime,formattedTotalResults
0,flights to hong kong,1,Cheap Flights to Hong Kong (HKG) from $397 - K...,"Find flights to Hong Kong on XiamenAir, Hong K...",www.kayak.com,https://www.kayak.com/flight-routes/United-Sta...,2018-12-16 11:26:30.485612+00:00,106000000,W42baDpas_gJ,https://www.kayak.com/flight-routes/United.../...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.162895,0.16,"106,000,000"
1,flights to hong kong,2,"$480 Flights to Hong Kong, China (HKG) - TripA...",Cheap Flights to Hong Kong: Enter your dates o...,www.tripadvisor.com,https://www.tripadvisor.com/Flights-g294217-Ho...,2018-12-16 11:26:30.485612+00:00,106000000,5jsjhmxgxvkJ,https://www.tripadvisor.com/Flights-g294217-Ho...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.162895,0.16,"106,000,000"
2,flights to hong kong,3,Cheap Flights to Hong Kong International from ...,Search cheap flights using Skyscanner's free f...,www.skyscanner.com,https://www.skyscanner.com/flights-to/hkg/chea...,2018-12-16 11:26:30.485612+00:00,106000000,EI78TI4Q1qYJ,https://www.skyscanner.com/flights-to/hkg/chea...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.162895,0.16,"106,000,000"
3,flights to hong kong,4,Flights to Hong Kong (HKG) | Hong Kong Flight ...,Find & book great deals on Hong Kong (HKG) Fli...,flights.cathaypacific.com,https://flights.cathaypacific.com/en-us/flight...,2018-12-16 11:26:30.485612+00:00,106000000,q6kszaD7mggJ,https://flights.cathaypacific.com/en-us/flight...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.162895,0.16,"106,000,000"
4,flights to hong kong,5,"Cheap Flights to Hong Kong SAR, Asia $393.97 i...",Expedia Add-On Advantage: Book a flight & unlo...,www.expedia.com,https://www.expedia.com/Cheap-Flights-To-Hong-...,2018-12-16 11:26:30.485612+00:00,106000000,iEmRbX0P8CAJ,https://www.expedia.com/Cheap-Flights-To-Hong-...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.162895,0.16,"106,000,000"

In [26]:
df.columns

Index(['searchTerms', 'rank', 'title', 'snippet', 'displayLink', 'link',
       'queryTime', 'totalResults', 'cacheId', 'formattedUrl',
       'htmlFormattedUrl', 'htmlSnippet', 'htmlTitle', 'kind', 'pagemap',
       'cseName', 'count', 'startIndex', 'inputEncoding', 'outputEncoding',
       'safe', 'cx', 'gl', 'searchTime', 'formattedSearchTime',
       'formattedTotalResults'],
      dtype='object')

### String operations: remove useless characters

In [27]:
# before cleaning
print(df["title"])

0       Cheap Flights to Hong Kong (HKG) from $397 - K...
1       $480 Flights to Hong Kong, China (HKG) - TripA...
2       Cheap Flights to Hong Kong International from ...
3       Flights to Hong Kong (HKG) | Hong Kong Flight ...
4       Cheap Flights to Hong Kong SAR, Asia $393.97 i...
                              ...
3995                      Billetterie Officielle OGC Nice
3996    OGC Nice Tickets | Buy or Sell Tickets for OGC...
3997    5 Cheap Flights to Nice, France (NCE) @ £137 2...
3998    Nice Ville to Milan by Train from €14.90 | Tim...
3999    Flights to Nice (NCE) | KLM Nice tickets from ...
Name: title, Length: 4000, dtype: object

In [28]:
# requires additional edditing by hand
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","-"]

# %nl2pandas replace characters
for char in spec_chars:
    df["title"] = df["title"].str.replace(char, ' ')

C:\Users\User\AppData\Local\Temp\ipykernel_7456\470616884.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["title"] = df["title"].str.replace(char, ' ')

In [29]:
# %nl2pandas split 'title'
df["title"] = df["title"].str.split()

In [30]:
# %nl2pandas join column 'title' on ' '
df["title"] = df["title"].str.join(sep=' ')

In [31]:
# after cleaning
print(df["title"])

0          Cheap Flights to Hong Kong HKG from $397 KAYAK
1         $480 Flights to Hong Kong China HKG TripAdvisor
2       Cheap Flights to Hong Kong International from ...
3       Flights to Hong Kong HKG Hong Kong Flight Deal...
4       Cheap Flights to Hong Kong SAR Asia $393 97 in...
                              ...
3995                      Billetterie Officielle OGC Nice
3996    OGC Nice Tickets Buy or Sell Tickets for OGC N...
3997    5 Cheap Flights to Nice France NCE £137 2018 T...
3998    Nice Ville to Milan by Train from €14 90 Times...
3999    Flights to Nice NCE KLM Nice tickets from GBP ...
Name: title, Length: 4000, dtype: object

### Extract relevant content

In [32]:
# changed regex from original expression in tutorial
# %nl2pandas extract '(\$\.d*\.?\d*)' from 'title'
df['dollar_prices'] = df["title"].str.extract(pat='(\\$[1-9][0-9]{0,4}(?:\\.\\d+)?|100000(?:\\.0+)?)(?!\\S)')

In [33]:
# %nl2pandas display unique values on column 'dollar_prices'
df["dollar_prices"].unique()

array(['$397', '$480', '$383', nan, '$393', '$454', '$376', '$398',
       '$549', '$162', '$301', '$288', '$339', '$360', '$386', '$466',
       '$358', '$413', '$406', '$465', '$453', '$533', '$499', '$447',
       '$504', '$179', '$209', '$231', '$272', '$248', '$375', '$16',
       '$374', '$64', '$73', '$94', '$74', '$24', '$96', '$147', '$344',
       '$347', '$457', '$212', '$473', '$369', '$340', '$20', '$242',
       '$455', '$399', '$408', '$392', '$276', '$338', '$379', '$436',
       '$491', '$395', '$477', '$438', '$365', '$879', '$214', '$297',
       '$321', '$320', '$385', '$463', '$165', '$336', '$326', '$343',
       '$516', '$526', '$498', '$608', '$957', '$814', '$482', '$378',
       '$420', '$47', '$87', '$27', '$60', '$282', '$351', '$253', '$289',
       '$217', '$298', '$356', '$317', '$407', '$126', '$311', '$435',
       '$381', '$132', '$167', '$221', '$230', '$49', '$152', '$39',
       '$86', '$146', '$19', '$295', '$244', '$299', '$620', '$434',
       '$424', '$313', '$489', '$234', '$291', '$199', '$206', '$80',
       '$191', '$35', '$210', '$225', '$223', '$355', '$444', '$216',
       '$281', '$316', '$70', '$270', '$302', '$89', '$530', '$529',
       '$518', '$609', '$567', '$113', '$330', '$394', '$350', '$45',
       '$52', '$43', '$66', '$68', '$676', '$631', '$604', '$229', '$588',
       '$531', '$483', '$250', '$439', '$390', '$412', '$353', '$471',
       '$401', '$367', '$173', '$172', '$128', '$300', '$542', '$405',
       '$452', '$84', '$443', '$318', '$171', '$486', '$140', '$640',
       '$646', '$354', '$75', '$371', '$492', '$497', '$32', '$247',
       '$224', '$184', '$67', '$236', '$190', '$48', '$403', '$445',
       '$382', '$76', '$56', '$305', '$333', '$417', '$396', '$197',
       '$448', '$161', '$654', '$579', '$503', '$268', '$109', '$580',
       '$568', '$582', '$557', '$325', '$1', '$689', '$404', '$433',
       '$517', '$327', '$679', '$545', '$391', '$468', '$523', '$541',
       '$144', '$890', '$887', '$488', '$559', '$555', '$513', '$42',
       '$294', '$548', '$585', '$451', '$423', '$112', '$341', '$414',
       '$164', '$187', '$309', '$51', '$551', '$135', '$515', '$119',
       '$514', '$645', '$4', '$53', '$450', '$373', '$437', '$425',
       '$487', '$279', '$307', '$419', '$678', '$337', '$280', '$71',
       '$476', '$185', '$159', '$218', '$30', '$138', '$277', '$264',
       '$485', '$432', '$331', '$410', '$590', '$552', '$603', '$565',
       '$25', '$972', '$505', '$574', '$566', '$686', '$103', '$116',
       '$120', '$57', '$475', '$611', '$205', '$528', '$114', '$211',
       '$232', '$258', '$108', '$91', '$366', '$183', '$427', '$507',
       '$153', '$188', '$819', '$141', '$154', '$237', '$175', '$158',
       '$698', '$31', '$415', '$474', '$547', '$895', '$550', '$41',
       '$63', '$508', '$847', '$441', '$201', '$758', '$882', '$685',
       '$539', '$148', '$38', '$732', '$6', '$44', '$163'], dtype=object)

In [35]:
# %nl2pandas find null values
df.isnull()

,searchTerms,rank,title,snippet,displayLink,link,queryTime,totalResults,cacheId,formattedUrl,...,startIndex,inputEncoding,outputEncoding,safe,cx,gl,searchTime,formattedSearchTime,formattedTotalResults,dollar_prices
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

### Check for missing values

In [16]:
# %nl2pandas remove missing values from 'dollar_prices'
df = df.dropna(subset='dollar_prices')

### Change datatype

In [17]:
# %nl2pandas replace "$" with " " on "dollar_prices"
df["dollar_prices"] = df["dollar_prices"].str.replace(pat='$', repl=' ')

C:\Users\User\AppData\Local\Temp\ipykernel_1196\1642067135.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["dollar_prices"] = df["dollar_prices"].str.replace(pat='$', repl=' ')

In [18]:
# dollor prices is type object
df.dtypes

searchTerms               object
rank                       int64
title                     object
snippet                   object
displayLink               object
link                      object
queryTime                 object
totalResults               int64
cacheId                   object
formattedUrl              object
htmlFormattedUrl          object
htmlSnippet               object
htmlTitle                 object
kind                      object
pagemap                   object
cseName                   object
count                      int64
startIndex                 int64
inputEncoding             object
outputEncoding            object
safe                      object
cx                        object
gl                        object
searchTime               float64
formattedSearchTime      float64
formattedTotalResults     object
dollar_prices             object
dtype: object

In [19]:
# %nl2pandas change the type of 'df["dollar_prices"]' to numeric
df['dollar_prices'] = pd.to_numeric(arg=df['dollar_prices'])

In [20]:
df.dtypes

searchTerms               object
rank                       int64
title                     object
snippet                   object
displayLink               object
link                      object
queryTime                 object
totalResults               int64
cacheId                   object
formattedUrl              object
htmlFormattedUrl          object
htmlSnippet               object
htmlTitle                 object
kind                      object
pagemap                   object
cseName                   object
count                      int64
startIndex                 int64
inputEncoding             object
outputEncoding            object
safe                      object
cx                        object
gl                        object
searchTime               float64
formattedSearchTime      float64
formattedTotalResults     object
dollar_prices              int64
dtype: object